body {
  margin: 10px;
  background: #132d56;
  color: white;
  font-family: sans-serif;
}

#box {
  border-radius: 20px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  padding: 20px;
  background: #133a65;
  min-height: 200px;
}

#title {
  display: inline-block;
  vertical-align: middle;
}

#logo {
  width: 200px;
  background: white;
  border-radius: 20%;
  vertical-align: middle;
  float: right;
}

th {
  border-bottom: 1px solid white;
}

td {
  padding-right: 8px;
}

#legend {
  background: #eee;
  font-weight: 900;
}

svg {
  width: 100%;
  height: 80vh;
}

.button {
  display: inline-block;
  background-color: white;
  color: #133a65;
  padding: 4px;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #333;
}

.button:hover {
  background-color: #ccc;
}
